<div class="index">
  <% @user.user_buildings.each do |user_building| %>
  <div class="building-show">
    <a href="/buildings/<%=user_building.building.id%>">
      <img src="<%=user_building.building.imgurl%>" alt="" class="index-img">
    </a>
    <div class="test">
      <%= form_tag user_building, method: "delete" do %>
        <%= submit_tag "✖︎", class: "like-button" %>
      <% end %>
    </div>

  </div>
  <% end %>
</div>
