/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
   font-family: "Courier New", Courier, monospace;
 }

 .home-icon {
   width: 25px;
   display: inline;
   background-color: #8FBC8F;
 }

 .index-img {
   max-width: 98%;
   height: auto;
   padding: 2px;
   }

 .index-img:hover {
   opacity: 0.7
 }

 .index {
   column-count: 3;
   column-gap: 0.5%;
 }


 a {
   text-decoration: none;
 }

 #user-icon {
   width: 25px;
   height: auto;
   background-color: #8FBC8F;
 }

 .log-button {
   display: inline;
   float: right;
   width: 58px;
 }

.no-user {
  float: right;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(119, 148, 92, 0.32);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
