.like-button {
  display: run-in;
}

.building-show {
  position: relative;
}
.building-info {
  font-size: 36px;
  position: absolute;
  opacity: 0;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.building-show:hover .building-info {
  opacity: 1;
}

.show-img {
  height: 38em;
}
.show-img:hover {
  opacity: 0.7;
}

// body {
//   display: flex;
// }

.like-button {
  display: inline-block;
  border: none;
  padding: 0.3rem 0.45rem;
  margin: 0;
  text-decoration: none;
  color: #ffffff;
  font-family: courier new;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms  ease-in-out,
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #8FBC8F;
  text-shadow: 0.5px 1px 0px #690e0e;
}

.like-button:active {
    transform: scale(0.99);
}
