.like-button {
  display: run-in;
}

.building-show {
  position: fixed;
  z-index: 1;
}
.building-info {
  font-size: 36px;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
}

.building-show:hover {
  opacity: 0.7;
}

.building-show:hover .building-info {
  opacity: 1;
}

.show-img {
  height: 38em;
}
.show-img:hover {
  opacity: 0.7;
}

// body {
//   display: flex;
// }

.like-button, .remove-button {
  display: inline-block;
  border: none;
  padding: 0.15rem 0.45rem;
  margin: 0;
  text-decoration: none;
  color: #ffffff;
  font-family: courier new;
  font-size: 1.5rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms  ease-in-out,
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #8FBC8F;
  text-shadow: 0.5px 1px 0px #690e0e;
  border-radius: 10px;
}

.like-button:hover, .remove-button:hover {
    transform: scale(0.98);
}

.like-button:active, .remove-button:active {
    transform: scale(0.98);
}

.elements-list {
  z-index: 1;
  float: right;
  margin-right: 25%;
}
