<div class="index">
<% @locations.each do |location| %>
  <div class="building-show" id="location-index">
    <a href="locations/<%=location.id%>">
      <span class="building-info">
        <%=location.display%>
      </span>
      <img src="<%= location.buildings.sample.imgurl%>" alt="<%=location.display%>" class="index-img"/></a>
  </div>
<% end %>
</div>
