<div class="index">
<% @locations.each do |location| %>
  <span class="location-index">
    <a href="locations/<%=location.id%>"><img src="<%= location.buildings.sample.imgurl%>" alt="<%=location.display%>" class="index-img"/></a>
  </span>
  <span><%=location.display%></span>
<% end %>
</div>
