<div class="index">
<% @locations.each do |location| %>
  <div class="index-img">
    <a href="locations/<%=location.id%>"><img src="<%= location.buildings.sample.imgurl%>" alt="location.city" class="index-img"/></a>
  </div>
<% end %>
</div>
