<%= @location.city %>
<div class="index">

  <% @location.buildings.each do |building| %>
    <a href="/buildings/<%=building.id%>">
    <img src="<%= building.imgurl%>" alt="<%=building.name%>" class="index-img"></a>
  <% end %>
</div>
